.porducts{
    text-align: center;
    margin: 20px auto;
    box-shadow: 1px 1px 1px 1px gray;
    width: 400px;
    padding: 50px 0;
}


.porducts ul li{
    text-align: center;
    margin: 0 auto;
    

    
}


.porducts ul {
     margin: 0;
        padding: 0;
}


.porducts ul li:nth-child(2) {
   color: red;
}


.details {
    color: #fff;
    background-color: burlywood;
    border: solid 1px burlywood;
    display: inline-block;
    margin-top: 20px ;
    padding: 10px;
}

.details:hover {
    background-color: #fff;
    color: burlywood;;

}




       